In [1]:
!cd

C:\Users\so970\Desktop\2021-K-Digital-Training-main\SQL

In [2]:
import pymysql.cursors
import pandas as pd
import numpy as np 

from sklearn.impute import SimpleImputer
from numpy import isnan

In [3]:
# MySQL DB에서 데이터 받아와서 DataFrame에 저장

conn = pymysql.connect(host='localhost', user='root', 
                       password='root', db='tip', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:
    with conn.cursor() as curs:
      sql = "SELECT * FROM tips;"
      curs.execute(sql)
      rs = curs.fetchall()
      df = pd.DataFrame(rs)
      print(df)
      #df.to_csv('query.csv')
    
finally:
   conn.close()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
244       16.99  1.01  Female     No   Sun  Dinner     2

[245 rows x 7 columns]

In [5]:
df['sex'].replace({'Female':0, 'Male':1}, inplace=True)
df["smoker"].replace({"No" : 0, "Yes" : 1}, inplace=True)
df["day"].replace({"Thur" : 0, "Fri" : 1, "Sat" : 2, "Sun" : 3}, inplace=True)
df["time"].replace({"Lunch" : 0, "Dinner" : 1}, inplace=True)
df['tip_rate']=df["tip"] / df["total_bill"]

In [9]:
df.replace('',np.nan,inplace=True) # '' -> np.nan

In [10]:
df.info

<bound method DataFrame.info of      total_bill   tip  sex  smoker  day  time  size  tip_rate
0         16.99  1.01    0       0    3     1     2  0.059447
1         10.34  1.66    1       0    3     1     3  0.160542
2         21.01  3.50    1       0    3     1     3  0.166587
3         23.68  3.31    1       0    3     1     2  0.139780
4         24.59  3.61    0       0    3     1     4  0.146808
..          ...   ...  ...     ...  ...   ...   ...       ...
240       27.18  2.00    0       1    2     1     2  0.073584
241       22.67  2.00    1       1    2     1     2  0.088222
242       17.82  1.75    1       0    2     1     2  0.098204
243       18.78  3.00    0       0    0     1     2  0.159744
244       16.99  1.01    0       0    3     1     2  0.059447

[245 rows x 8 columns]>

In [11]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
tip_rate      0
dtype: int64

In [ ]:
df.describe()

In [ ]:
type(df)

In [13]:
data = df.values

In [14]:
y=df['tip']

In [15]:
X=df.drop('tip',axis=1)

In [16]:
X.columns

Index(['total_bill', 'sex', 'smoker', 'day', 'time', 'size', 'tip_rate'], dtype='object')

In [17]:
X.describe()

,total_bill,sex,smoker,day,time,size,tip_rate
count,245.000000,245.000000,245.000000,245.000000,245.000000,245.000000,245.000000
mean,19.774531,0.640816,0.379592,1.730612,0.722449,2.567347,0.160389
std,8.885946,0.480743,0.486279,1.156274,0.448707,0.949846,0.061290
min,3.070000,0.000000,0.000000,0.000000,0.000000,1.000000,0.035638
25%,13.370000,0.000000,0.000000,0.000000,0.000000,2.000000,0.128244
50%,17.780000,1.000000,0.000000,2.000000,1.000000,2.000000,0.154321
75%,24.080000,1.000000,1.000000,3.000000,1.000000,3.000000,0.191205
max,50.810000,1.000000,1.000000,3.000000,1.000000,6.000000,0.710345

In [18]:
y.describe()

count    245.000000
mean       2.990163
std        1.386631
min        1.000000
25%        2.000000
50%        2.880000
75%        3.550000
max       10.000000
Name: tip, dtype: float64

In [19]:
data=X.values # Train data

In [20]:
y=y.values

In [21]:
data[:,5]

array([2., 3., 3., 2., 4., 4., 2., 4., 2., 2., 2., 4., 2., 4., 2., 2., 3.,
       3., 3., 3., 2., 2., 2., 4., 2., 4., 2., 2., 2., 2., 2., 4., 2., 4.,
       2., 3., 3., 3., 3., 3., 3., 2., 2., 2., 4., 2., 2., 4., 3., 2., 2.,
       2., 4., 2., 4., 2., 4., 2., 2., 4., 2., 2., 2., 4., 3., 3., 2., 1.,
       2., 2., 2., 3., 2., 2., 2., 2., 2., 4., 2., 2., 2., 2., 1., 2., 2.,
       4., 2., 2., 2., 2., 2., 2., 2., 2., 2., 4., 2., 2., 2., 2., 2., 2.,
       3., 2., 2., 2., 2., 2., 2., 2., 2., 1., 3., 2., 3., 2., 4., 2., 2.,
       4., 2., 2., 2., 2., 2., 6., 2., 2., 2., 3., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 6., 5., 6., 2., 2., 3., 2., 2., 2., 2., 2., 3.,
       4., 4., 5., 6., 4., 2., 4., 4., 2., 3., 2., 2., 3., 2., 4., 2., 2.,
       3., 2., 2., 2., 2., 2., 2., 2., 2., 2., 4., 2., 3., 4., 2., 5., 3.,
       5., 3., 3., 2., 2., 2., 2., 2., 2., 2., 4., 2., 2., 3., 2., 2., 2.,
       4., 3., 3., 4., 2., 2., 3., 4., 4., 2., 3., 2., 5., 2., 2., 4., 2.,
       2., 1., 3., 2., 2., 2., 4., 2., 2., 4., 3., 2., 2., 2., 2., 2., 2.,
       3., 3., 2., 2., 2., 2., 2.])

In [22]:
sum(np.isnan(data).flatten())

0

In [23]:
sum(np.isnan(y).flatten())

0

In [24]:
imputer = SimpleImputer(strategy='median')

In [25]:
imputer.fit(data)

SimpleImputer(strategy='median')

In [26]:
# transform the dataset
data_trans = imputer.transform(data)

In [28]:
data_trans[:,5]

array([2., 3., 3., 2., 4., 4., 2., 4., 2., 2., 2., 4., 2., 4., 2., 2., 3.,
       3., 3., 3., 2., 2., 2., 4., 2., 4., 2., 2., 2., 2., 2., 4., 2., 4.,
       2., 3., 3., 3., 3., 3., 3., 2., 2., 2., 4., 2., 2., 4., 3., 2., 2.,
       2., 4., 2., 4., 2., 4., 2., 2., 4., 2., 2., 2., 4., 3., 3., 2., 1.,
       2., 2., 2., 3., 2., 2., 2., 2., 2., 4., 2., 2., 2., 2., 1., 2., 2.,
       4., 2., 2., 2., 2., 2., 2., 2., 2., 2., 4., 2., 2., 2., 2., 2., 2.,
       3., 2., 2., 2., 2., 2., 2., 2., 2., 1., 3., 2., 3., 2., 4., 2., 2.,
       4., 2., 2., 2., 2., 2., 6., 2., 2., 2., 3., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 6., 5., 6., 2., 2., 3., 2., 2., 2., 2., 2., 3.,
       4., 4., 5., 6., 4., 2., 4., 4., 2., 3., 2., 2., 3., 2., 4., 2., 2.,
       3., 2., 2., 2., 2., 2., 2., 2., 2., 2., 4., 2., 3., 4., 2., 5., 3.,
       5., 3., 3., 2., 2., 2., 2., 2., 2., 2., 4., 2., 2., 3., 2., 2., 2.,
       4., 3., 3., 4., 2., 2., 3., 4., 4., 2., 3., 2., 5., 2., 2., 4., 2.,
       2., 1., 3., 2., 2., 2., 4., 2., 2., 4., 3., 2., 2., 2., 2., 2., 2.,
       3., 3., 2., 2., 2., 2., 2.])

### RFE

In [ ]:
from sklearn.feature_selection import RFE

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.svm import SVR

In [ ]:
estimator = SVR(kernel="linear")

In [ ]:
# define RFE
rfe = RFE(estimator, n_features_to_select=4)

In [ ]:
# fit RFE
selector=rfe.fit(data_trans, y)

In [ ]:
!cd

In [ ]:
selector.support_

In [ ]:
df

In [ ]:
# summarize all features
for i in range(data_trans.shape[1]):
  print('Column: %d,  Rank: %d' % (i,  rfe.ranking_[i]))

In [ ]:
df1=pd.DataFrame(data_trans)

### MinMaxScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
trans = MinMaxScaler()

In [ ]:
data.shape

In [ ]:
X_norm = trans.fit_transform(data)

In [ ]:
df_norm = pd.DataFrame(X_norm)

In [ ]:
df_norm.describe()

In [ ]:
df.describe()

### StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=StandardScaler()

In [ ]:
df_sc=sc.fit_transform(data)

In [ ]:
df_trsfrom_sc=pd.DataFrame(df_sc)

In [ ]:
df_trsfrom_sc.describe().round()

In [ ]:
data

### PCA

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
data_trans.shape

In [ ]:
# define the transform
trans = PCA(n_components=4)

In [ ]:
# transform the data
X_dim = trans.fit_transform(data_trans)

In [ ]:
# summarize data after the transform
print(X_dim[:3, :])

### Regression Feature Selection

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [ ]:
fs = SelectKBest(score_func=f_regression, k=4)

In [ ]:
data_trans.shape

In [ ]:
y.shape

In [ ]:
# apply feature selection
X_selected = fs.fit_transform(data_trans, y)

In [ ]:
print(X_selected.shape)