### KBinsDiscretizer

In [38]:
# discretize numeric input variables
from sklearn.datasets import make_classification
from sklearn.preprocessing import KBinsDiscretizer
import pandas as pd

In [39]:
# define dataset
X, y = make_classification(n_samples=5000000, n_features=5, #n_informative=5, n_redundant=0,
random_state=1)

In [40]:
X.shape

(5000000, 5)

In [41]:
y.shape

(5000000,)

In [42]:
X[0,:]

array([-1.68946284,  0.47814224, -1.4159231 , -0.9966515 ,  0.2534083 ])

In [43]:
# summarize data before the transform
print(X[:3, :])

[[-1.68946284  0.47814224 -1.4159231  -0.9966515   0.2534083 ]
 [ 1.62396887  1.10351079  0.06765056  2.19392866  1.57927283]
 [ 0.84974941 -1.89498192 -0.83533631 -0.8068739  -2.05687097]]

In [44]:
y.mean()

0.5000458

In [45]:
X.min()

-8.219719039587167

In [46]:
X.max()

8.725264229850012

In [47]:
# define the transform
trans = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='uniform')

In [48]:
# transform the data
X_discrete = trans.fit_transform(X)

In [49]:
X[0,:]

array([-1.68946284,  0.47814224, -1.4159231 , -0.9966515 ,  0.2534083 ])

In [50]:
print(X_discrete[1, :])

[6. 5. 5. 6. 5.]

In [51]:
# summarize data after the transform
print(X_discrete[:3, :])

[[4. 5. 3. 4. 4.]
 [6. 5. 5. 6. 5.]
 [6. 2. 4. 4. 2.]]

In [52]:
data = pd.DataFrame(X)

In [53]:
data

                0         1         2         3         4
0       -1.689463  0.478142 -1.415923 -0.996652  0.253408
1        1.623969  1.103511  0.067651  2.193929  1.579273
2        0.849749 -1.894982 -0.835336 -0.806874 -2.056871
3       -2.653229  0.158848  0.357983 -2.033319 -0.292467
4        0.532721 -0.962054 -1.447291 -0.327197 -1.026000
...           ...       ...       ...       ...       ...
4999995  0.407197 -1.072403 -0.693199 -0.516586 -1.177287
4999996 -0.537712 -1.283112 -1.259472 -1.452054 -1.593139
4999997 -2.983132 -0.139964 -0.896213 -2.538021 -0.700331
4999998  1.348827  0.755906  1.153021  1.695206  1.124368
4999999 -0.469245  0.555858  2.017843  0.057680  0.563737

[5000000 rows x 5 columns]

In [56]:
data.describe().round(2)

                0           1           2           3           4
count  5000000.00  5000000.00  5000000.00  5000000.00  5000000.00
mean         0.00       -0.00        0.00       -0.00       -0.00
std          1.33        1.07        1.00        1.40        1.28
min         -7.67       -4.23       -5.16       -8.22       -4.49
25%         -1.02       -0.87       -0.67       -1.31       -1.03
50%          0.11        0.01        0.00       -0.09       -0.16
75%          1.04        0.84        0.68        0.88        1.00
max          5.97        4.89        5.16        8.73        6.77

In [57]:
data.iloc[0,:]

0   -1.689463
1    0.478142
2   -1.415923
3   -0.996652
4    0.253408
Name: 0, dtype: float64