In [ ]:
# 소상공인 상가업소 정보 서비스 
# https://www.data.go.kr/iim/api/selectAPIAcountView.do

In [1]:
api_key = 'QM6ZJEP8e%2FqaxYozErYXRKb%2BasbTYmbBcuaMXigydhztOikwfPyyH82BJrgKFNCgsGxd5VOzUy8JpJY3Za2NcA%3D%3D'

In [2]:
import urllib.request

In [3]:
#-*- coding:utf-8 -*-
url = 'http://apis.data.go.kr/B553077/api/open/sdsc/storeListInDong?divId=ctprvnCd&key=11&ServiceKey='+api_key+'&type=json'

In [4]:
url

'http://apis.data.go.kr/B553077/api/open/sdsc/storeListInDong?divId=ctprvnCd&key=11&ServiceKey=QM6ZJEP8e%2FqaxYozErYXRKb%2BasbTYmbBcuaMXigydhztOikwfPyyH82BJrgKFNCgsGxd5VOzUy8JpJY3Za2NcA%3D%3D&type=json'

In [5]:
response = urllib.request.urlopen(url)

In [6]:
response

In [7]:
json_str = response.read().decode("utf-8")

In [ ]:
# json_str

In [ ]:
# json을 import 하여 문자열 -> json으로 변환

In [8]:
import json
json_object = json.loads(json_str)

In [ ]:
json_object

In [ ]:
# pandas를 이용해 json을 DataFrame 형태로
# 데이터를 보면 header와 body가 나뉜다. 우리가 필요한 정보는 body이니 그쪽 정보를 로드해서 pandas로 변형

In [10]:
import pandas as pd
from pandas.io.json import json_normalize

In [11]:
body = [json_object['body']['items']]

In [14]:
df = pd.DataFrame(body)

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,"{'bizesId': '10004623', 'bizesNm': '이철헤어커커', '...","{'bizesId': '10004646', 'bizesNm': '이철헤어커커', '...","{'bizesId': '10025887', 'bizesNm': '잠뱅이', 'brc...","{'bizesId': '10030788', 'bizesNm': '장안순대국밥', '...","{'bizesId': '10031349', 'bizesNm': '장어야', 'brc...","{'bizesId': '10031436', 'bizesNm': '장어천국', 'br...","{'bizesId': '10034303', 'bizesNm': '재건공조', 'br...","{'bizesId': '10038561', 'bizesNm': '전자랜드', 'br...","{'bizesId': '10041487', 'bizesNm': '정관장', 'brc...","{'bizesId': '10041503', 'bizesNm': '정관장', 'brc...","{'bizesId': '10041535', 'bizesNm': '정관장', 'brc...","{'bizesId': '10050747', 'bizesNm': '제시카키친', 'b...","{'bizesId': '10056742', 'bizesNm': '제일전기조명', '...","{'bizesId': '10065677', 'bizesNm': '종가집설렁탕', '...","{'bizesId': '10075124', 'bizesNm': '준오헤어돈암2호점'...","{'bizesId': '10080606', 'bizesNm': '중화공인중개사사무소...","{'bizesId': '10082162', 'bizesNm': '즐거운짜장', 'b...","{'bizesId': '10085207', 'bizesNm': 'GS25', 'br...","{'bizesId': '10086312', 'bizesNm': '지우미용실신월점',...","{'bizesId': '10088738', 'bizesNm': '지혜수산', 'br..."

In [13]:
type(body)

list

In [16]:
df.to_csv('smb.csv')

In [ ]:
url01 = 'http://apis.data.go.kr/B553077/api/open/sdsc/storeListInDong?divId=adongCd&key=1168051000&indsLclsCd=Q&indsMclsCd=Q06&indsSclsCd=Q06A08&ServiceKey'+api_key+'&type=json'