In [ ]:
###!pip install camelot

In [ ]:
!dir

In [2]:
import camelot

In [3]:
#import sys
tables=camelot.read_pdf('foo.pdf')

In [4]:
print(tables[0])

<Table shape=(7, 7)>

In [5]:
tables[0].to_excel('table0.xlsx')

In [6]:
tables0 = camelot.read_pdf('example.pdf', pages='1,2,3')

In [10]:
tables0

In [15]:
tables0[0].df

,0,1,2,3
0,Powertrain system,IC,Parallel,Power \nsplit
1,displacement (cc),"2,359","2,359","2,362"
2,Weight (kg),"1,530","1,680","1,670"
3,Engine power (kW),150,117,110
4,Battery output power (kW),-,34,30
5,Battey capacity (Wh),-,"1,431","1,591"
6,Transmission system,Transmission \n6 speed,Transmission \n6 speed,ECVT
7,Motor power (kW),-,35,105
8,Total system power (kW),150,150,140

In [18]:
df1 = tables0[0].df
type(df1[0])

pandas.core.series.Series

In [20]:
print(tables0[0])

<Table shape=(9, 4)>

In [16]:
tables0[2].to_excel('tb01.xlsx')